/* TODO: Use Bootstrap to make this mobile friendly


This code helps create the dropdowns on each page */
.more-links-dropdown {
    position: relative;
    display: inline-block;
    border-right: none;
  }
.more-links-sub-dropdown{
    display: none; /*hides the links by default */
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    /* box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); creates a shadow to make the dropdown stand out */
    padding: 12px 16px;
    z-index: 1;
    border: solid 0.01rem;
}
.more-links-dropdown:hover .more-links-sub-dropdown {
    display: block;
}
.registration-dropdown {
    position: relative;
    display: inline-block;
    width: 100%;
}
.registration-sub-dropdown{
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    /* box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); */
    padding: 12px 16px;
    z-index: 1;
    border: solid 0.01rem;
    left: 100%;
    top: -12px;
}
.registration-dropdown:hover .registration-sub-dropdown {
    display: block;
}

body{
    font-size: 16px;
    line-height: 1.5;
    font-family:Arial, Helvetica, sans-serif;
    margin: 0;
}
header, nav ul{
    width: 90%;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}
header h1, nav ul{
    padding-left: 50px;
}

/*  Navbar */
nav{
    display: flex;
    background-color:white;
    align-items:center;
    text-align: left;
    position: absolute;
    left: 0;
    padding-left: 1rem;
    padding-top: 4rem;
}
nav ul{list-style-type: none;} /* Gets rid of list dots */
nav ul li{display:inline-block}
nav a {
    display:inline-flex;
    /* padding:1rem; */
    color: black;
    text-decoration: none;
    vertical-align: middle;
    font-weight: lighter;
    padding: 1rem;
}
nav a:hover, .registration-dropdown:hover, .more-links-dropdown:hover{
    text-decoration: underline;
}

h1{
    border: solid 1px;
    border-left: none;
    border-right: none;
    font-weight: lighter;
    text-align: center;
    display:block;
    position: relative;
    top:1rem;
}
body{
    background-color: white;
}
nav ul li a{
    vertical-align: middle;
}
nav ul li li{
    border: none;
}
footer nav ul li{
    border: none;
}
.logo{
    block-size: 82px;
}